#include "/home/jsec/.term-jellybeans"

URxvt*transparent: 	false
URxvt*saveLines:	1000
URxvt*scrollBar:	false
URxvt*scrollstyle:	rxvt
URxvt*letterSpace:  -1

URxvt*font:         xft:envy code r:medium:pixelsize=11
URxvt*boldFont:     xft:envy code r:medium:pixelsize=11
