#include "/home/jsec/src/config/xresources/gotham"

URxvt*transparent: false
URxvt*saveLines:   1000
URxvt*scrollBar:   false
URxvt*scrollstyle: rxvt
URxvt*letterSpace: -1
URxvt.allow_bold:  true

Xft.dpi:           96
Xft.antialias:     true
Xft.hinting:       true
Xft.autohint: 0
Xft.rgba: rgb
Xft.hintstyle:     hintslight
Xfg.lcdfilter:     lcddefault

URxvt*font:        xft:Input Mono:style=Medium:pixelsize=15
URxvt*boldFont:    xft:Input Mono:style=Bold:pixelsize=15
